<h1>Add a New Recipe</h1>

<form action="/add_recipe" method="post">
  <label for="title">Recipe Title:</label>
  <input class="form-control" type="text" name="title">
  <br>




  <label for="ingredient">Primary Ingredient:</label>
  <input class="form-control" type="text" name="item">
  <br>

  <br>



  <label for="instructions">Instructions:</label>
  <input class="form-control" type="text" name="instructions">
  <br>
  <label for="rating">Rating:</label>
  <input class="form-control" type="number" name="rating">
  <br>
  <button type="submit" class="btn btn-success"> Add Recipe</button>
</form>
<h3>Further ingredients</h3>
<form class="" action="index.html" method="post">

</form>
