<h1>Link's Recipes</h1>
<form action="/recipe_results" method="post">
  <label for="recipe_search">Recipe Search:</label>
  <input type="text" name="recipe_search">
  <button type="submit" class="btn btn-info">Search</button>
</form>
<br>

<form action="/ingredient/recipe_results" method="get">
  <label for="recipes">Known Ingredients</label>
  <select name="ingredient-id">
    <% @ingredients.each do |ingredient| %>
      <option value="<%= ingredient.id %>"><%= ingredient.item %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-info" name="button">Find its recipes!</button>
</form>
<br>

<form action="/add_recipe" method="get">
  <button type="submit" class="btn btn-info">Add a New Recipe</button>
</form>
<br>

<h2>All My Recipes:</h2>
<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>:
    <% recipe.rating.times do %>
      <img class="heart" src="/img/heart.png">
      <% end %>
    </li>
  <% end %>
<% else %>
  <p>You don't have any recipes!</p>
<% end %>
