.heart {
  width: 18px;
}

body{
  background-image: url("../img/cooking_bg.jpg");
  background-size: cover;
}

a {
  color: black;
}

li {
  color: black;
  list-style: none;
  line-height: 2em;
  font-size: 1.25em;
  font-weight: bolder;
}
